<div class="data-privacy section">
	<div class="data-privacy__inner section__inner">
		{{> @heading class="data-privacy__heading" type="h1" content="Datenschutz" color="white" }}
		<div class="data-privacy__container">

			<div class="data-privacy__item item">
				{{> @heading class="item__heading" type="h4" color="white" content="Einleitung" }}
				{{> @paragraph class="item__paragraph" color="white" content="Wir legen grössten Wert auf den Schutz Ihrer Daten und die Wahrung Ihrer Privatsphäre. Nachstehend informieren wir Sie deshalb über die Erhebung und Verwendung persönlicher Daten bei Nutzung unserer Webseite. LAUTISSIMI orientiert sich im Umgang mit Daten am Datenschutzgesetz der Schweiz (DSG) sowie an der EU-Datenschutzgrundverordnung (EU-DSGVO)." }}
			</div>
			<div class="data-privacy__item item">
				{{> @heading class="item__heading" type="h4" color="white" content="Urheberrecht" }}
				{{> @paragraph class="item__paragraph" color="white" content="Die auf dieser Website enthaltenen Inhalte sind für LAUTISSIMI urheberrechtlich geschützt. Insbesondere Vervielfältigungen, Übersetzungen, Bearbeitungen und die Speicherung und Verarbeitung in andere Medien, einschliesslich solcher in elektronischer Form, sind urheberrechtlich geschützt. LAUTISSIMI als Betreiberin der Website gestattet das Sichten und Herunterladen sämtlicher Inhalte auf ihren Websites ausschliesslich zu privatem, nicht-kommerziellem Gebrauch. Die Inhalte dürfen nicht verändert und ohne schriftliche Genehmigung von LAUTISSIMI auf anderen Internetseiten oder vernetzten Rechnern genutzt werden. Die Vervielfältigung von Daten oder Informationen, insbesondere die Verwendung von Texten, Textteilen oder Bildmaterial, bedarf der vorherigen schriftlichen Zustimmung. Für Presseanfragen und die redaktionelle Verwendung von Bildmaterial wenden Sie sich bitte an LAUTISSIMI (siehe Impressum)." }}
			</div>
			<div class="data-privacy__item item">
				{{> @heading class="item__heading" type="h4" color="white" content="Gewährleistung und Haftung" }}
				{{> @paragraph class="item__paragraph" color="white" content="LAUTISSIMI ist darum bemüht, dass die Informationen auf der Website stets auf dem aktuellen Stand sind. Trotz aller Sorgfalt können sich die Daten inzwischen verändert haben. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden. Des Weiteren behält sich die LAUTISSIMI das Recht vor, Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen." }}
			</div>

		</div>
	</div>
</div>