.mobile-navigation {
	display: none;

		&__bar, .bar {
		height: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 24px $padding-page-vertical-medium;
		z-index: 55;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		transition: all 0.3s ease;

		&--hidden {
			top: -60px !important;
		}
		
		&__link {
			display: block;
			height: 24px;
		}

		&__logo {
			display: block;
			height: 100%;
		}

	}

	&__panel, .panel {
		position: fixed;
		top: -100vh;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 124px 64px 64px 64px;
		height: 100vh;
		background-color: $green-dark;
		z-index: 50;

		&__links, .links {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: flex-start;
			align-items: flex-start;

			&__item {
				padding: 8px 0;
				opacity: 0;

			}

		}

	}

	@media (max-width: 1050px) {
		display: block;
	}

	@media (max-width: 650px) {

		&__bar, .bar {
			padding: 24px $padding-page-vertical-small;
		}

	}

}