		<nav class="desktop-navigation {{ class }} js-desktop-navigation">
			<a class="desktop-navigation__logo logo" href="/">
				<img class="logo__image" src="/media/graphics/logos/logo-lautissimi.svg"></img>
			</a>
			<div class="desktop-navigation__link-wrapper">
				{{> @link class="desktop-navigation__link" content="Leistungen" target="services" }}
				{{> @link class="desktop-navigation__link" content="Referenzen" target="references" }}
				{{> @link class="desktop-navigation__link" content="Über uns" target="about" }}
			</div>
			{{> @circle-link class="desktop-navigation__button" content="Kontakt" icon="arrow" }}
		</nav>