		<nav class="desktop-navigation {{ class }}">
			<img class="desktop-navigation__logo" src="/media/graphics/logos/logo-lautissimi.svg"></img>
			<div class="desktop-navigation__link-wrapper">
				{{> @link class="desktop-navigation__link" content="Leistungen" }}
				{{> @link class="desktop-navigation__link" content="Referenzen" }}
				{{> @link class="desktop-navigation__link" content="Über uns" }}
			</div>
			{{> @circle-link class="desktop-navigation__button" content="Kontakt" icon="arrow" }}
		</nav>