.references {
  max-width: 100%;
  background-color: $beige-dark;
  overflow: hidden;
	position: relative;
  
  &__inner {
    display: grid;
    grid-template-areas:
		"heading heading"
    "description slider"
    "controls slider";
    grid-template-columns: 400px 100%;
    grid-template-rows: 300px auto 120px;
    min-height: 1120px;
		padding: 80px 0 80px 0; 
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 100%;
			background-color: $beige-dark;
			right: 100%;
			top: 0;
			bottom: 0;
			z-index: 5;
		}

  }

  &__heading {
   grid-area: heading; 
	 position: relative;
	 margin-bottom: 64px;
	 left: -80px;
	 z-index: 15;

	 &::after {
		content: "";
		position: absolute;
		width: 33%;
		height: 2px;
		background-color: $white;
		z-index: 5;
		top: calc(100% - 2px);
		left: 64px;
	 }

  }
  
  &__slider, .slider { 
    grid-area: slider;
    max-width: unset;
    width: 100%;
    
    &__container {
      height: 100%;
      display: flex;
    }
    
    &__wrapper {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    
    &__item, .item {
      height: calc(100% - 120px);
      margin-left: 32px;
			width: 200px;
      margin-right: 0 !important;

			&--show-more {
				width: 300px;
				border: 1px solid $white;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				& .item__icon {
					color: $white;
					width: 48px;
					height: 48px;
					transform: rotate(235deg);
					border: 1px solid $white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 24px;
				}

			}

      &__image {
        height: 100%;
				width: 100%;
        display: block;
        object-fit: cover;
      }

      &__heading {
        color: #FFFFFF;
				margin-top: 16px;
      }

      &:nth-child(2n) {
        margin-top: -80px;
      }

    }
    
  }

  &__controls, .controls {
    grid-area: controls;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #655953f2;
    z-index: 10;
		padding: 32px 32px 32px $padding-page-vertical-big;
    
    &__scrollbar {
      width: 100% !important;
      height: 4px;
      
      .swiper-scrollbar-drag {
        background: #FFFFFF;
      }
      
    }
    
    &__arrow-wrapper {
      margin-left: 16px;
      height: 16px;
      width: 48px;
      position: relative;
    }
    
    &__arrow {
      width: 16px;
      height: 16px;
      margin-top: unset;
      top: 0;
      
      &--prev {
        left: 0;
      }
      
      &--next {
        right: 0;
      }
      
      &::after {
        font-size: 16px;
        height: 16px;
        color: white;
      }

    }

  }
  
  &__description, .description {
    z-index: 10;
    width: auto;
    width: 100%;
    background-color: rgba(101, 89, 83, 0.95);
    grid-area: description;
		padding: 64px 32px 32px $padding-page-vertical-big;
    
    &__text {
      color: white;
    }

  }

	@media (max-width: 950px) {

		&__inner {
			display: grid;
			grid-template-areas:
			"heading"
			"description"
			"controls" 
			"slider";
			grid-template-columns: 100%;
			grid-template-rows: auto auto 80px auto;

			&::before {
				display: none;
			}

		}

		&__slider, .slider {

			&__wrapper {
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}

			&__item, .item {
				
				&:first-child {
					margin-left: 64px;
				}
				
				&__image, 
				&--show-more {
					height: 600px !important;
					max-height: 50vh !important;
				}

				&--empty:last-child {
					display: none;
				}
				
				&:nth-child(2n) {
					margin-top: 0 !important;
				}
				
			}
		
		}

		&__controls, .controls {
			padding: 32px $padding-page-vertical-medium;

			&__arrow-wrapper {
				display: none;
			}

		}

		&__description, .description {
			padding: 32px $padding-page-vertical-medium;
		}

	}

	@media (max-width: 650px) {

	  &__description, .description {
			padding: 64px 32px 32px $padding-page-vertical-small;
		}

		&__controls, .controls {
			padding: 32px $padding-page-vertical-small;
		}

	}

}
