.references {
  max-width: 100%;
  background-color: $beige-dark;
  overflow: hidden;
	position: relative;
	margin-bottom: 64px;
  
  &__inner {
    display: grid;
    grid-template-areas:
		"heading heading"
    "slider slider"
    "controls controls";
    grid-template-columns: 400px 100%;
    grid-template-rows: 300px auto auto;
		padding: 64px 0 32px 0; 
		position: relative;
  }

  &__heading {
   grid-area: heading; 
	 position: relative;
	 margin-bottom: 64px;
	 left: -80px;
	 z-index: 15;

	 &::after {
		content: "";
		position: absolute;
		width: 33%;
		height: 2px;
		background-color: $white;
		z-index: 5;
		top: calc(100% - 2px);
		left: 64px;
	 }

  }
  
  &__slider, .slider { 
    grid-area: slider;
    max-width: unset;
    width: 100%;
    
    &__container {
      height: 100%;
      display: flex;
    }
    
    &__wrapper {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    
    &__item, .item {
      margin-left: 32px;
			width: 120px;
			height: 480px;
      margin-right: 0 !important;
		
			&:first-child {
				margin-left: 96px;
			}
			
			&:hover {

				& .item__image {
					transform: scale(1.1);
				}

			}

			&--show-more {
				width: 300px;
				border: 1px solid $white;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				& .item__icon {
					color: $white;
					width: 48px;
					height: 48px;
					transform: rotate(235deg);
					border: 1px solid $white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 24px;
				}

				& .item__text {
					text-align: center;
				}

			}

			&__image-limitter {
				overflow: hidden;
				display: block;
				height: 100%;
			}

      &__image {
        height: 100%;
				width: 100%;
        display: block;
        object-fit: cover;
				transition: all 1s ease;
      }

      &__heading {
        color: #FFFFFF;
				margin-top: 16px;
      }

    }
    
  }

  &__controls, .controls {
    grid-area: controls;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
		padding: 32px 32px 32px 96px;
    background-color: #655953f2;
    z-index: 10;
		justify-self: start;
		position: relative;
		margin-top: 120px;
    
    &__scrollbar {
      width: 100% !important;
      height: 4px;
      
      .swiper-scrollbar-drag {
        background: #FFFFFF;
      }
      
    }
    
    &__arrow-wrapper {
      margin-right: 16px;
      height: 16px;
      width: 48px;
      position: relative;
    }
    
    &__arrow {
      width: 16px;
      height: 16px;
      margin-top: unset;
      top: 0;
			cursor: pointer;
      
      &--prev {
        left: 0;
      }
      
      &--next {
        right: 0;
      }
      
      &::after {
        font-size: 16px;
        height: 16px;
        color: white;
      }

    }

  }
  
  &__description, .description {
    z-index: 10;
    width: auto;
    width: 100%;
    background-color: rgba(101, 89, 83, 0.95);
    grid-area: description;
		padding: 64px 32px 32px $padding-page-vertical-big;
    
    &__text {
      color: white;
    }

  }

	@media (max-width: 950px) {

		&__inner {
			display: grid;
			grid-template-areas:
			"heading"
			"slider"
			"controls"; 
			grid-template-columns: 100%;
			grid-template-rows: 224px auto auto;

			&::before {
				display: none;
			}

		}

		&__heading {
	 
			&::after {
			 content: "";
			 height: 2px;
			 top: calc(100% - 2px);
			 left: 64px;
			}
	 
		 }

		&__slider, .slider {

			&__wrapper {
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}

			&__item, .item {
				
				&:first-child {
					margin-left: 64px;
				}
				
				&--empty:last-child {
					display: none;
				}
				
				&:nth-child(2n) {
					margin-top: 0 !important;
				}
				
			}
		
		}

		&__controls, .controls {
			padding: 32px $padding-page-vertical-medium;
			width: 100%;

		}

		&__description, .description {
			padding: 32px $padding-page-vertical-medium;
		}

	}

	@media (max-width: 650px) {

	  &__description, .description {
			padding: 64px 32px 32px $padding-page-vertical-small;
		}

		&__controls, .controls {
			padding: 32px $padding-page-vertical-small;
		}

		&__slider, .slider {

			&__item, .item {

				&:first-child {
					margin-left: 32px;
				}

			}

		}

	}

	@media (max-width: 350px) {

		&__controls, .controls {

			&__arrow-wrapper {
				display: none;
			}

		}

	}

}