 <div class="references section">
  <div class="references__inner section__inner">

		{{> @heading class="references__heading" type='h2' content="References" color="white" }}

        <div class="references__slider slider js-slider">
          <div class="slider__container">
            <div class="slider__wrapper swiper-wrapper">

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
                	<img class="item__image" src="/media/images/belvedere-hotel.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Hotel Cresta" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/cresta-lounge.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Cresta Lounge" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/rupa-restaurant.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Rupa Restaurant" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/schloss-restaurant.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Schloss Restaurant" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/belvedere-hotel.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Belvedere Hotel" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/cresta-lounge.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Cresta Lounge" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/rupa-restaurant.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Rupa Restaurant" }}
              </a>

              <a class="slider__item item cell swiper-slide" href="#">
								<span class="item__image-limitter">
	                <img class="item__image" src="/media/images/schloss-restaurant.webp" alt="Image">
								</span>
                {{> @heading class="item__heading" type="h4" color="white" content="Schloss Restaurant" }}
              </a>
              <a class="slider__item slider__item--show-more item cell swiper-slide" href="#">
								<i class="item__icon icon icon--arrow"></i>
								{{> @paragraph class="item__text" color="white" content="Weitere Referenzen"}}
              </a>
              <a class="slider__item item slider__item--empty cell swiper-slide" href="#"></a>
              <a class="slider__item item slider__item--empty cell swiper-slide" href="#"></a>



            </div>
          </div>
        </div>

        <div class="references__controls controls">
            <div class="controls__arrow-wrapper">
              <div class="controls__arrow controls__arrow--prev swiper-button-prev"></div>
              <div class="controls__arrow controls__arrow--next swiper-button-next"></div>
            </div>
            <div class="controls__scrollbar swiper-scrollbar"></div>
        </div>
{{!-- 
        <div class="references__description">
          <p class="description__text paragraph">Wie alle, sind auch wir zuverlässig, erfahren, effizient, flexibel und persönlich – aber bei LAUTISSIMI dürfen Sie mehr erwarten. <br /> <br /> Wir denken mit und sind in ausgewählten Situationen überraschend anders. Unsere hervorragenden Referenzen liefern dafür den Beweis.</p>
        </div> --}}

    </div>
  </div>