 <div class="references section">
  <div class="references__inner section__inner">

		{{> @heading class="references__heading" type='h2' content="References" color="white" showShadow=true }}

        <div class="references__grid grid">
          
          <a href="#" class="grid__item grid__item--big item">
            <span class="item__image-limitter">
              <img class="item__image" src="/media/images/belvedere-hotel.webp" alt="Image">
              {{> @heading class="item__heading" type="h4" color="white" content="Hotel Cresta" }}
            </span>
          </a>

          <a href="#" class="grid__item grid__item--wide item">
            <span class="item__image-limitter">
              <img class="item__image" src="/media/images/belvedere-hotel.webp" alt="Image">
              {{> @heading class="item__heading" type="h4" color="white" content="Hotel Cresta" }}
            </span>
          </a>

          <a href="#" class="grid__item grid__item--small item">
            <span class="item__image-limitter">
              <img class="item__image" src="/media/images/belvedere-hotel.webp" alt="Image">
              {{> @heading class="item__heading" type="h4" color="white" content="Hotel Cresta" }}
            </span>
          </a> 

          <a href="#" class="grid__item grid__item--show-more item">
            <i class="item__icon icon icon--arrow"></i>
						{{> @paragraph class="item__text" color="white" content="Weitere Referenzen"}}
          </a> 

        </div>

    </div>
  </div>