<footer class="footer section">
	<div class="footer__inner section__inner">


			{{> @contact-form class="footer__contact-form"}}

       <address class="footer__address address">
            <p class="paragraph  paragraph--beige-medium   address__item">
                Adresse
            </p>
            <p class="paragraph  paragraph--white   address__item">
                O&S Interior GmbH
            </p> <a href="https://goo.gl/maps/dYHFNyzmofH7k3pZA" target="_blank">
                <p class="paragraph  paragraph--white   address__item">
                    St. Johannes Strasse 23
                </p>
            </a>
            <p class="paragraph  paragraph--white   address__item">
                CH-6300 Zug
            </p> 
						<a class="gravity-link  gravity-link--white    address__item" href="mailto:info@lautissimi.ch">
                info@lautissimi.ch
            </a>
            <img class="address__logo" src="/media/graphics/logos/logo-lautissimi-blatt.svg"></img>
						<a class=" address__logo-link" href="https://www.dom-gmbh.ch/" target="_blank">
            	<img class="address__partner-logo" src="/media/graphics/logos/logo-dom-white.svg"></img>
						</a>
						<img class="address__label-logo" src="/media/graphics/logos/logo-trusted-supplier.svg"/>
        </address>

		<div class="footer__links">
			<span class="links__wrapper">
			{{> @link class="links__item" content="Impressum" href="#" color="white" }}
			{{> @link class="links__item" content="Datenschutz" href="#" color="white" }}
			{{> @link class="links__item" content="Newsletter" href="#" color="white" }}
			{{> @link class="links__item" content="Englisch" href="#" color="white" }}
			</span>
			<div class="links__social-media social-media">
 	 			<p class="paragraph paragraph--white">
        	follow us
        </p>
				<a class="social-media__item" href="https://www.instagram.com/lautissimi/" target="_blank">
					<img class="social-media__icon icon icon--linkedin" src="/media/graphics/icons/icon-instagram.svg"></img>
				</a>
				<a class="social-media__item" href="https://www.linkedin.com/company/lautissimi/" target="_blank">
					<img class="social-media__icon icon icon--linkedin" src="/media/graphics/icons/icon-linkedin.svg"></img>
				</a>
			</div>
		</div>
			{{> @paragraph class="footer__copyright" content="©202 O&S Interior GmbH" color="white" }}


		{{> @heading class="footer__heading" content="Kontakt" type="h2" color="white" showShadow=true }}

	</div>
</footer>