<footer class="footer section">
	<div class="footer__inner section__inner">


			{{> @contact-form class="footer__contact-form"}}

       <address class="footer__address address">
            <img class="address__logo" src="/media/graphics/logos/logo-lautissimi.svg"></img>
            <p class="paragraph  paragraph--beige-medium   address__item">
                Adresse
            </p>
            <p class="paragraph  paragraph--white   address__item">
                O&S Interior GmbH
            </p> <a href="https://goo.gl/maps/dYHFNyzmofH7k3pZA" target="_blank">
                <p class="paragraph  paragraph--white   address__item">
                    St. Johannes Strasse 23
                </p>
            </a>
            <p class="paragraph  paragraph--white   address__item">
                CH-6300 Zug
            </p> <a class="gravity-link  gravity-link--white    address__item" href="mailto:info@lautissimi.ch">
                info@lautissimi.ch
            </a>
        </address>

        <address class="footer__office office">
            <p class="paragraph  paragraph--beige-medium   office__item">
                Büro Adresse
            </p>
            <p class="paragraph  paragraph--white   office__item">
                O&S Interior GmbH
            </p>
            <p class="paragraph  paragraph--white   office__item">
                .kuia.office 3. OG
            </p> <a href="https://goo.gl/maps/LMTgNsmTJJzCpAhw5" target="_blank">
                <p class="paragraph  paragraph--white   office__item">
                    Neuhofstrasse 12
                </p>
            </a>
            <p class="paragraph  paragraph--white   office__item">
                CH-6340 Baar
            </p> <a class="office__item office__image" href="https://www.hotelleriesuisse.ch/" target="_blank">
                <img src="/media/graphics/logos/logo-hotellerie-suisse.svg" alt="Hotellerie Suisse">
            </a>
        </address>

		<div class="footer__links">
			{{> @paragraph class="links__item" content="©2022 O&S Interior GmbH" color="white" }}
			{{> @link class="links__item" content="Impressum" href="#" color="white" }}
			{{> @link class="links__item" content="Datenschutz" href="#" color="white" }}
			{{> @link class="links__item" content="Englisch" href="#" color="white" }}
			<a class="links__item">
				<i class="item__icon icon icon--linkedin"></i>
			</a>
		</div>

		{{> @heading class="footer__heading" content="Kontakt" type="h2" color="white" showShadow=true }}

	</div>
</footer>