<footer class="footer section">
	<div class="footer__inner section__inner">

		<div class="footer__intro intro">
			{{> @heading class="intro__heading" type="h3" looklike="h1" content="Ihr Prokekt. Unsere Passion." type="h2" color="white" }}
			{{> @paragraph class="address__item" content="Lernen Sie uns persönlich kennen. Wir nehmen uns gerne Zeit für Ihre Projektidee." color="white" }}
		</div>

			{{> @contact-form class="footer__contact-form"}}

		<address class="footer__address address">
			<img class="address__logo" src="/media/graphics/logos/logo-lautissimi.svg" ></img>
			{{> @paragraph class="address__item" content="O&S Interior GmbH" color="white" }}
			{{> @paragraph class="address__item" content="St. Johannes Strasse 23" color="white" }}
			{{> @paragraph class="address__item" content="CH-6300 Zug" color="white" }}
			{{> @link class="address__item" content="info@lautissimi.ch" href="mailto:info@lautissimi.ch" color="white" }}
		</address>	

		<div class="footer__links">
			{{> @paragraph class="links__item" content="©2022 O&S Interior GmbH" color="white" }}
			{{> @link class="links__item" content="Impressum" href="#" color="white" }}
			{{> @link class="links__item" content="Datenschutz" href="#" color="white" }}
			{{> @link class="links__item" content="Englisch" href="#" color="white" }}
			<a class="links__item">
				<i class="links__item links__icon icon icon--linkedin"></i>
			</a>
		</div>

		{{> @heading class="footer__heading" content="Contact" type="h2" color="white" }}

	</div>
</footer>