<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{ path '/css/main.min.css' }}">
  <link rel="icon" href="{{ path '/media/favicons/favicon.ico' }}">
  <title>Lautissimi</title>

</head>

<body class="body page js-page">
  {{{ yield }}}
	<div class="page__transition-layer"></div>
  <script src="/js/main.build.js"></script>
  <script src="https://api.mailxpert.ch/forms.js"></script>
  <script type="text/javascript">
    mailxpert.forms.include({
      src: 'https://web.swissnewsletter.ch/e/b0dc198418d18fd9/de/form/5eed8b64-b8eb-48de-80da-419ae17bad9b.html?render=container',
      element: document.getElementById('formContentId'),
    });
  </script>
</body>

</html>