.about {
	
	&__inner {
		display: grid;
    grid-template-areas:
		"heading heading"
    "intro intro"
    "statements portrait"
    "statements links"
		"team-members team-members";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
		grid-gap: 32px;
		overflow: hidden;
		padding-right: 0;
		padding-top: 120px;
	}

	&__heading {
		grid-area: heading;
		position: relative;
		margin-bottom: 64px;
 
		&::after {
		 content: "";
		 position: absolute;
		 width: 33%;
		 height: 2px;
		 background-color: $beige-medium;
		 z-index: 5;
		 top: calc(100% - 2px);
		 left: 64px;
		}

	}

	&__intro {
		grid-area: intro;
		max-width: 800px;
		align-self: end;
		justify-self: end;
		margin-bottom: 64px;
	}

	&__statements, .statements {
		grid-area: statements;
		margin: 40px 40px 80px 80px;
		
		&__item, .item {
			margin-bottom: 64px;

			&__heading {
				margin-bottom: 16px;
			}

		}

	}

	&__portrait {
		grid-area: portrait;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center 20%;
		display: block;
	}

	&__links, .links {
		grid-area: links;
		padding-bottom: 32px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

		&__item {
			margin-bottom: 16px;
			
			&:last-child {
				margin-right: 32px;
			}

		}


	}



}

