		<div class="team-member" data-name="rene-sigrist">
				<img class="team-member__portrait" src="/media/images/rene-sigrist.webp" alt="René Sigrist" class="team-member__portrait">
				<div class="team-member__text-content text-content">
					{{> @heading class="text-content__name" color="black" type="h2" looklike="h3" content="René Sigrist" }}
					{{> @paragraph class="text-content__role" color="beige-medium" style="serif" content="Inhaber, Managing Partner" }}
					<div class="text-content__contact-details contact-details">
						{{> @link class="contact-details__phone" color="beige-medium" content="+41 79 455 65 47" href="tel:+41794556547" }}
						{{> @link class="contact-details__email" color="beige-medium" content="rene.sigrist@lautissimi.ch" href="mailto:rene.sigrist@lautissimi.ch" }}
					</div>
					<p class="text-content__introduction">Ich bin fasziniert von der Einzigartigkeit, die in jedem unserer Projekte steckt. Die immer wieder neuen Ausgangslagen erfordern flexibles Denken und viel Einfühlungsvermögen. Um die passende Produktlösung für unsere Kunden zu finden, helfen mir neben meiner langjährigen Erfahrung auch die von Vertrauen geprägte Zusammenarbeit mit den Herstellern. Meine handwerkliche Grundausbildung sowie Weiterbildungen im Marketing mit dem Master für Dienstleistungsmarketing an der HSLU unterstützen mich im Alltag bei praktischen Aufgaben. Ein vielseitiges Interesse und das Anpacken von Themen ausserhalb meines gewohnten Umfeldes zeichnen mich zusätzlich aus. Denn mein Ziel ist es, immer ein Auge auf dem Mehrwert für Kunden und Gäste zu behalten.</p>
					{{> @circle-link class="text-content__close-button" content="" icon="close" color="beige-medium" }}
				</div>
		</div>

		<div class="team-member team-member" data-name="beatrix-otahal">
				<img class="team-member__portrait" src="/media/images/beatrix-otahal.webp" alt="Beatrix Otahal" class="team-member__portrait">
				<div class="team-member__text-content text-content">
					{{> @heading class="text-content__name" color="black" type="h2" looklike="h3" content="Beatrix Otahal" }}
					{{> @paragraph class="text-content__role" color="beige-medium" style="serif" content="Inhaberin, Managing Partner" }}
					<div class="text-content__contact-details contact-details">
						{{> @link class="contact-details__phone" color="beige-medium" content="+41 78 625 50 78" href="tel:+4178 625 50 78" }}
						{{> @link class="contact-details__email" color="beige-medium" content="rene.sigrist@lautissimi.ch" href="mailto:beatrix.otahal@lautissimi.ch" }}
					</div>
					<p class="text-content__introduction">Räume zu kreieren, in denen sich Gäste wohl fühlen ist meine Spezialität. Die Arbeit mit physischen Produkten in Abstimmung mit Materialien, Formen und Farben liegt mir sehr. In der Zusammenarbeit mit Bauherren, Architekten, Innenarchitekten und Gestaltern erarbeite und finde ich immer die optimale Lösung. Meine Aus- und Weiterbildungen in Gestaltung und Planung und die tiefen Kenntnisse in der Materialkunde erleichtern mir dabei die tägliche Arbeit. Mit Begeisterung ergänze ich die Möbel und Textilien mit individuellen dekorativen Leuchten. Viele Jahre entwickelte und realisierte ich in Zusammenarbeit mit Interior Designern und Produzenten Leuchten aller Arten und Dimensionen. Die Wirkung solcher Objekte im Raum ist enorm und das Resultat für Gäste, Kunden und mich selbst immer wieder ein Erlebnis.</p>
					{{> @circle-link class="text-content__close-button" content="" icon="close" color="beige-medium" }}
				</div>
		</div>

		<div class="team-member team-member" data-name="theodor-d-hübscher">
				<img class="team-member__portrait" src="/media/images/theo-huebscher.webp" alt="Theo Hübscher" class="team-member__portrait">
				<div class="team-member__text-content text-content">
					{{> @heading class="text-content__name" color="black" type="h2" looklike="h3" content="Theodor D. Hübscher" }}
					{{> @paragraph class="text-content__role" color="beige-medium" style="serif" content="Consulting Partner" }}
					<div class="text-content__contact-details contact-details">
						{{> @link class="contact-details__phone" color="beige-medium" content="+41 79 672 61 26" href="tel:+41796276226" }}
						{{> @link class="contact-details__email" color="beige-medium" content="theodor.huebscher@dom-gmbh.ch" href="mailto:theodor.huebscher@dom-gmbh.ch" }}
					</div>
					<p class="text-content__introduction">Meine Grundausbildung zum Maschinenbaukonstrukteur und die anschliessende Weiterbildung zum technischen Diplomkaufmann & Marketing erlaubten mir die Sicht zur Präzision und den Zusammenhängen von verschiedenen Materialisierungen sowie die Verknüpfungen der Betriebswirtschaft zu verstehen und bilden als Gesamtes die Basis für meine langjährige unternehmerische Tätigkeit und Aufbau der Marke D.O.M. Seit 30 Jahren realisiere ich erfolgreich Inneneinrichtungen und begeistere Kunden.  Mit viel Leidenschaft arbeite ich mit Architekten und Innenarchitekten zusammen und entwickle eigene Designs für Objektmöbel.  Meine Kreativität und hoher Designanspruch sind das Erfolgskonzept, welches ich bei zahlreichen Interior-Projekten in der Hotellerie, Gastronomie und Office-space einsetze. Ich freue mich trotz des Verkaufs meiner Firma ab 2024 meine vertrauten Kunden, Architekten und Innenarchitekten im Auftrag der O&S Interior GmbH weiterhin betreuen zu dürfen und mit meinem Know-how LAUTISSIMI zu unterstützen.
</p>
					{{> @circle-link class="text-content__close-button" content="" icon="close" color="beige-medium" }}
				</div>
		</div>
