.external-link {
	border-bottom: 1px solid $beige-medium;
	color: $beige-medium;
	font-weight: 300;
	font-size: 24px;

	&__icon {
		transform: rotate(230deg);
		position: relative;
		right: -4px;
		font-size: 24px !important;
		color: $beige-medium !important;
	}

}