.hero {
	background-color: $green-dark;
	
	&__inner {
		display: grid;
		grid-template: auto / 400px auto;
		position: relative;
	}

	&__panel, .panel {
		width: 400px;
		min-height: 100vh;
		padding: 56px 48px 56px 96px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		z-index: 30;
		position: relative;

		&__heading {
			margin-top: 160px;
			margin-bottom: 64px;
			width: calc(100vw - 320px);
			max-width: 800px;
		}

		&__leave {
			position: absolute;
			width: 540px;
			top: 160px;
			left: -80px;
		}

		&__teaser {
			margin-bottom: 32px;
		}

		&__scroller {
			color: $white;
			align-self: center;
			justify-self: flex-end;
			margin-top: auto;
			font-size: 64px;
			margin-right: 48px;
			cursor: pointer;
		}

	}

	&__showcase, .showcase {
		max-width: calc(100vw - 400px);
		height: 100vh;


		&__slider, .slider {
			height: 100%;
			width: 100%;

			&__wrapper {
				display: flex;
				flex-direction: row;

			}

			&__image {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		}

	}

}


.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}