
<section class="hero section js-hero">
	<div class="hero__inner section__inner">

	<div class="hero__panel panel">
		<img class="panel__logo" src="/media/graphics/logos/logo-lautissimi.svg"></img>
		{{> @heading class="panel__heading" type='h1' content="Einzigartige Räume, die Begeistern." color="white" }}
		{{> @heading class="panel__teaser" type='h3' looklike="p" content="Räume nach Ihren Wünschen einzurichten ist unsere Passion. Dabei folgt unser Denken und Handeln dem Anspruch nach Eigenständigkeit, Harmonie und Funktionalität." color="white" }}
		<h3 class="panel__teaser paragraph paragraph--white"></h3>
		<i class="panel__scroller icon icon--arrow"></i>
	</div>	

	<div class="hero__showcase showcase">
		<nav class="showcase__navigation navigation">
			{{> @link class="navigation__link" content="Leistungen" }}
			{{> @link class="navigation__link" content="Referenzen" }}
			{{> @link class="navigation__link" content="Über uns" }}
			{{> @circle-link class="navigation__button" content="Kontakt" icon="arrow" }}
		</nav>

   <div class="showcase__swiper swiper">
      <div class="showcase__wrapper swiper-wrapper">
        <div class="showcase__slide swiper-slide">
          <img class="showcase__image" src="/media/images/rupa-restaurant.webp" alt="Rupa Restaurant" />
        </div>
        <div class="showcase__slide swiper-slide">
          <img class="showcase__image" src="/media/images/cresta-lounge.webp" alt="Rupa Restaurant" />
        </div>
        <div class="showcase__slide swiper-slide">
          <img class="showcase__image" src="/media/images/schloss-restaurant.webp" alt="Rupa Restaurant" />
        </div>
      </div>
    </div>

	</div>

	</div>
</section>