<a class="switcher {{ class }}" href="#">
	<img class="switcher__preview" src="/media/images/placeholder_thumbnail.png" alt="" >
	<div class="switcher__label label">
		{{> @paragraph content="weiter" class="label__text" color="white"}}
		<i class="label__icon icon icon--angle"></i>
	</div>
</a>