<a class="switcher" href="#">
	<img class="switcher__preview" src="/media/images/placeholder_thumbnail.png" alt="" >
	<div class="switcher__label label">
		<p class="label__text">Weiter</p>
		<i class="label__icon icon icon--angle"></i>
	</div>
</a>