<div class="page-not-found section">
	<div class="page-not-found__inner section__inner">
		
		{{> @heading class="page-not-found__heading heading--white" content="Oops, die Seite konnte nicht gefunden werden." type="h1" color="green" }}
		{{> @circle-link class="page-not-found__button" content="Zurück zur Homepage" icon="arrow" }}
	</div>
</div>