<div class="page-not-found section">
	<div class="page-not-found__inner section__inner">
		
		{{> @heading class="page-not-found__heading" content="Diese Seite konnte nicht gefunden werden" type="h1" color="green" }}
		{{> @paragraph class="page-not-found__text" content="Womöglich ist die von Ihnen gesuchte Website unter einer anderen URL zu finden. "}}
		{{> @back-link class="page-not-found" href="/" }}
	</div>
</div>