.imprint {
	background-color: $green-dark;

	&__inner {
		padding: 104px 96px;
	}

	&__heading {
		margin-bottom: 64px;
	}

	&__box {
		margin-bottom: 40px;
		
		p, a {
			color: $white;			
		}

	}

}