.imprint {
	background-color: $green-dark;

	&__inner {
		padding: 104px $padding-page-vertical-big;
	}

	&__heading {
		margin-bottom: 64px;
	}

	&__box {
		margin-bottom: 40px;
		
		p, a {
			color: $white;			
		}

	}

	@media (max-width: 950px) {

		&__inner {
			padding: 104px $padding-page-vertical-medium;
		}

	}

	@media (max-width: 650px) {

		&__inner {
			padding: 104px $padding-page-vertical-small;
		}

	}

}