<div class="imprint section">
	<div class="imprint__inner section__inner">
		{{> @heading class="imprint__heading" type="h1" content="Data Privacy" color="white" }}

		<div class="imprint__owner owner">
			{{> @heading class="owner__heading" content="Seitenbetreiber" type="h4" color="white" }}
			{{> @paragraph class="owner__text" content="O&S Interior GmbH" color="white"}}
		</div>

		<div class="imprint__address address">
			{{> @heading class="address__heading" content="Adresse" type="h4" color="white" }}
			{{> @paragraph class="owner__text" content="St.-Johannes-Strasse 23" color="white"}}
			{{> @paragraph class="owner__text" content="6300 Zug" color="white"}}
			{{> @paragraph class="owner__text" content="CHE-134.479.368" color="white"}}
			{{> @paragraph class="owner__text" content="info@lautissimi.ch" color="white"}}
		</div>

		</div>
	</div>
</div>