 .link {
	 padding: 16px;
	 color: $white;
	 cursor: pointer;
	 display: inline-block;

	 &--black { color: $black; }
	 &--beige-dark { color: $beige-dark; }
	 &--blue-dark { color: $blue-dark; }
	 &--white { color: $white; }

 }