<div class="intro section js-intro">
	<div class="intro__inner section__inner">
		<img class="intro__image" src="/media/images/belvedere-hotel.webp" alt="clean code" class="image__image" />
	</div>
</div>