<div class="intro section js-intro">
	<div class="intro__inner section__inner">
		{{> @paragraph class="intro__teaser" color="beige-medium" content="Wir schätzen grosse Aufgaben, weil wir vernetzt denken und uns Zeit für die perfekte Lösung nehmen. Wir lieben ästhetische Gesamtkonzepte, weil wir mit Leidenschaft Einrichter sind." style="big"}}
		<img class="intro__image" src="/media/images/belvedere-hotel.webp" alt="clean code" class="image__image" />
	</div>
</div>