<div class="reference-overview section">
	<div class="reference-overview__inner section__inner">
		{{> @heading class="reference-overview__heading" type="h1" content="Referenzen" color="white" }}
		<div class="reference-overview__container">
			<div class="reference-overview__item item">
				<img class="item__image" src="/media/images/cresta-lounge.webp" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--small item">
				<img class="item__image" src="/media/images/schloss-restaurant.webp" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--wide item">
				<img class="item__image" src="/media/images/rupa-restaurant.webp" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--big item">
				<img class="item__image" src="/media/images/belvedere-hotel.jpg" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--small item">
				<img class="item__image" src="/media/images/cresta-lounge.webp" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--small item">
				<img class="item__image" src="/media/images/schloss-restaurant.webp" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--wide item">
				<img class="item__image" src="/media/images/rupa-restaurant.webp" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--small item">
				<img class="item__image" src="/media/images/belvedere-hotel.jpg" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
			<div class="reference-overview__item reference-overview__item--small item">
				<img class="item__image" src="/media/images/belvedere-hotel.jpg" alt="Reference">
				{{> @heading class="item__heading" type="h4" content="Hotel Cresta" color="white"}}
			</div>
		</div>
	</div>
</div>