.contact-form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__disclaimer, .disclaimer {

		&__text, .paragraph {
			color: $white;
			margin-bottom: 16px;

			&__link, a {
				color: $beige-medium;
				text-decoration: none;
			}
		}

		&__link {
			color: white;
			text-decoration: underline;
			font-weight: inherit;
		}

	}

	&__submit {
		align-self: flex-end;
	}

	&__status-message, .status-message {

		&--success, 
		&--error {
			display: none;
			color: $white;
			position: relative;	

			&::after {
				content: "";
				position: absolute;
				width: 4px;
				height: 4px;
				top: 12px;
				display: inline-block;
				margin-left: 8px;
				background-color: $red;
				border-radius: 50%;
			}

		}

		&--success::after { background-color: $green; }
		&--error::after { background-color: $red; }
		&--active { display: block }

	}

}