<div class="news-banner js-news-banner">
		<img class="news-banner__close" src="/media/graphics/icons/icon-close.svg" alt="">
		{{> @heading class="news-banner__heading" color="beige-medium" type="h4" content="Aktuell" }}
		{{> @paragraph class="news-banner__text paragraph--small" color="beige-dark" content="Zwei starke Marken für hochwertige Objekteinrichtungen schliessen sich zusammen. Per Januar 2024 übernimmt LAUTISSIMI die Firma D.O.M. Design.Objekt.Möbel GmbH." }}
		<img class="news-banner__image" src="/media/graphics/logos/logo-dom-black.svg" alt="DOM">
</div>
