<nav class='mobile-navigation js-mobile-navigation'>
	<div class='mobile-navigation__inner'>
		<div class='mobile-navigation__bar bar'>
			<a class="bar__link" href="/">
				<img class="bar__logo" src="/media/graphics/logos/logo-lautissimi.svg"></img>
		</a>
		<button class="hamburger hamburger--squeeze" id="hamburger" type='button'>
			<span class='hamburger__box'>
				<span class='hamburger__inner'/>
			</span>
		</button>
	</div>
	<div class="mobile-navigation__panel panel">
		<div class='panel__links'>
			<a class="gravity-link  gravity-link--white    links__item" href="/" data-target="services">
				Leistungen
			</a>
			<a class="gravity-link  gravity-link--white    links__item" href="/" data-target="references">
				Referenzen
			</a>
			<a class="gravity-link  gravity-link--white    links__item" href="/" data-target="about">
				Über uns
			</a>
			<a class="gravity-link  gravity-link--white    links__item" href="/" data-target="footer">
				Kontakt
			</a>
		</div>
	</div>
</div></nav>
