<div class="newsletter-form section">
    <div class="newsletter-form section__inner">
        <div class="newsletter-form__form">
            <div id="formContentId"></div>
        </div>
    </div>
</div>