* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.body {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;

	&--dark { background-color: $green-dark; }
	&--light { background-color:$light-grey;  }

}

img {
	-webkit-user-drag: none;
}


