* {
	font-family: "Gazpacho", Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 10px;
}

.heading, h1, h2, h3, h4, h5 {
	font-family: 'Gazpacho', serif;
  font-weight: 400;
  color: $blue-dark;
}

.heading--h1 {
  font-size: 80px;
  font-weight: 500;	
	line-height: 1.2;
	font-family: 'Gazpacho', serif;
}

.heading--h2 {
	position: relative;
	
	& .heading__title {
		position: absolute;
		bottom: 56px;
		left: 124px;
		font-size: 60px;
		line-height: 40px;
		color: inherit;
		width: 100%;
	}
	
	& .heading__shadow {
		font-size: 240px;
		font-weight: 600;
		line-height: 1;
		opacity: 0.08;
		white-space: nowrap;
		text-transform: uppercase;
		color: inherit;
	}
	
	& .heading__line {
		position: absolute;
		left: 480px;
		width: 240px;
		height: 2px;
		opacity: 0.08;
	}

}

.heading--h3 {
  font-size: 48px;
  font-weight: 500;
	line-height: 1.2;
}

.heading--h4 {
  font-size: 24px;
  font-weight: 500;
	line-height: 1.2;
}

.heading--p {
	font-size: 18px;
	font-weight: 300;
	font-family: "Gazpacho", Helvetica, sans-serif;
}

.paragraph, p {
	font-size: 18px;
	font-weight: 300;
	font-family: "Gazpacho", Helvetica, sans-serif;

	&--bold { font-weight: 600; }
	&--small { font-size: 14px; }
	&--big { font-size: 32px; font-family: "Gazpacho"; }
	&--serif { font-family: "Gazpacho"; }

	strong {
		font-weight: inherit;
	}

}

.link, a {
	font-family: "Gazpacho", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 26px;
	line-height: 1.2;
	text-decoration: none;
	font-weight: 300;

	&--small {
		font-size: 14px;
	}

	&--serif {
		font-family: 'Gazpacho', serif;
		font-weight: 400;
		font-size: 32px;
	}

}

.highlight {
	font-weight: inherit;
	font-family: inherit;
}

.text-input__input, 
.textarea__input {
	font-size: 18px;
	font-weight: 300;
}

.text-input__label, 
.textarea__label {
	font-size: 18px;
	font-weight: 300;
}

.mobile-navigation .links__item {
	font-size: 24px;
}

.intro .paragraph, 
.about__intro .paragraph, 
.services__teaser .paragraph {
	font-size: 32px; font-family: "Gazpacho";
	color: $beige-medium;
	font-weight: 400;

	strong {
		color: $black;
		font-size: inherit;
		font-family: inherit;
	}

}

.team-member .text-content__introduction, 
.team-member .paragraph {
	font-weight: 300;
}

@media (max-width: 950px) {

	.reference-detail .panel__heading {
		font-size: 48px;
	}

	.heading--h2 {
		
		& .heading__title {
			left: 48px;
		}
		
	}
	
}

@media (max-width: 650px) {
	
	.heading--h1 {
		font-size: 48px;
		line-height: 1.2;
	}
	
	.heading--h2 {
			position: relative;
			
			& .heading__title {
				font-size: 40px;
				left: 48px;
				bottom: 32px;
			}
			
			& .heading__shadow {
				font-size: 160px;
			}
			
			& .heading__line {
				position: absolute;
				left: 480px;
				width: 240px;
				height: 2px;
				opacity: 0.08;
			}
		
	}

	.heading--h3 {
		font-size: 24px;
	}

	.paragraph--big {
		font-size: 24px;
	}

	.intro .paragraph, 
	.about__intro .paragraph, 
	.services__teaser .paragraph {
		font-size: 24px; font-family: "Gazpacho";

		strong {
			color: $black;
			font-size: inherit;
			font-family: inherit;
		}

	}
	
}


@media (max-width: 450px) {
	
	.heading--h2 {
		font-size: 80px;
		
		& .heading__title {
			left: 0;
		}
	}	

}

@media (max-width: 350px) {
	
	.heading--h2 {
		font-size: 80px;
	}	

}


