* {
	font-family: "Heebo", Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 10px;
}

.heading, h1, h2, h3, h4, h5 {
	font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: $blue-dark;
}

.heading--h1 {
  font-size: 80px;
  font-weight: 600;	
	line-height: 1.2;
}

.heading--h2 {
  font-size: 240px;
  font-weight: 400;
	line-height: 1;
	opacity: 0.08;
	white-space: nowrap;
	text-transform: uppercase;
}

.heading--h3 {
  font-size: 48px;
  font-weight: 400;
	line-height: 1.2;
}

.heading--h4 {
  font-size: 24px;
  font-weight: 500;
	line-height: 1.2;
}

.heading--p {
	font-size: 18px;
	font-weight: 300;
	font-family: "Heebo", Helvetica, sans-serif;
}

.paragraph, p {
	font-size: 18px;
	font-weight: 300;
	font-family: "Heebo", Helvetica, sans-serif;

	&--bold { font-weight: 600; }
	&--small { font-size: 14px; }
	&--big { font-size: 32px; font-family: "Playfair Display"; }
	&--serif { font-family: "Playfair Display"; }

}

.link, a {
	font-family: "Heebo", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 26px;
	line-height: 1.2;
	text-decoration: none;
	font-weight: 300;

	&--small {
		font-size: 14px;
	}

	&--serif {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: 32px;
	}

}

.highlight {
	font-weight: inherit;
	font-family: inherit;
}

.text-input__input, 
.textarea__input {
	font-size: 18px;
	font-weight: 300;
}

.text-input__label, 
.textarea__label {
	font-size: 18px;
	font-weight: 300;
}

.mobile-navigation .links__item {
	font-size: 24px;
}

.reference-detail .panel__heading {
	font-size: 64px;
}

.intro .paragraph {
	font-size: 32px; font-family: "Playfair Display";
	color: $beige-medium;

	strong {
		color: $black;
		font-size: inherit;
		font-family: inherit;
	}

}

@media (max-width: 900px) {

	.reference-detail .panel__heading {
		font-size: 48px;
	}

}

@media (max-width: 650px) {

	.heading--h1 {
		font-size: 48px;
		font-weight: 600;	
		line-height: 1.2;
	}

	.heading--h3 {
		font-size: 24px;
	}

	.paragraph--big {
		font-size: 24px;
	}
	
}


