{% set metaTitle = metaTitle is defined ? metaTitle : 'LAUTISSIMI' %}
{% set metaDescription = metaDescription is defined ? metaDescription : '' %}

<!DOCTYPE html>
<html lang="{{ currentSite.language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="icon" href="/media/favicons/favicon.ico">
    <title>{{ metaTitle }}</title>
		<meta name="description" content="{{ metaDescription }}">
</head>

<body class="body page js-page">
	<div class="page__transition-layer"></div>
	{% block main %} {% endblock %}
  <script src="/js/main.build.js"></script>
</body>

</html>