.textarea {
	width: 100%;
	position: relative;
	
	&__input {
		width: 100%;
		display: block;
		height: 120px;
		color: $white;
		outline: none;
		border: none;
		border-bottom: 1px solid $transparent-white;
		padding: 0;
		background-color: transparent;
		margin-top: 40px;
		resize: none;
		
		&:focus + .textarea__label,
		&:not(:placeholder-shown) + .textarea__label,
		&--active + .textarea__label {
			transform: translate(-16px, -32px);
			font-size: 12px;
		}

		&--error {
			
			& ~ .text-input__error-message {
				display: block;
				
				&::after {
					content: "";
					height: 8px;
					border-radius: 50%;
					width: 8px;
					background-color: $red;
					right: 16px;
					bottom: 48px;
					position: absolute;
				}
				
			}

		}

	}
	
	&__label {
		position: absolute;
		color: $transparent-white;
		top: 48px;
		left: 16px;
		transition: all 0.2s ease;
		pointer-events: none;
	}

	&__error-message {
		color: $red;
		padding-top: 8px;
		display: none;
	}

}