<div class="textarea {{ class }}">
	<textarea class="textarea__input" rows="4" placeholder=" "></textarea>
	<label class="textarea__label">{{ label }}</label>
	<p class="text-input__error-message">{{ error-text }}</p>
</div>