<div class="textarea {{ class }}">
	<textarea class="textarea__input" rows="4" placeholder=" "></textarea>
	<label class="textarea__label">Label</label>
	<p class="text-input__error-message">Dies ist ein Plichtfeld</p>
</div>