.textarea {
	width: 100%;
	position: relative;
	border-bottom: 1px solid $transparent-white;
	
	&__input {
		width: 100%;
		height: 120px;
		color: $white;
		padding: 8px 0;
		outline: none;
		border: none;
		padding: none;
		background-color: transparent;
		margin-top: 40px;
		resize: none;
		
		&:focus + .textarea__label,
		&:not(:placeholder-shown) + .textarea__label,
		&--active + .textarea__label {
			transform: translate(-16px, -32px);
			font-size: 12px;
		}

	}
	
	&__label {
		position: absolute;
		color: $transparent-white;
		top: 48px;
		left: 16px;
		transition: all 0.2s ease;
		pointer-events: none;
	}

}