<div class="textarea">
	{{!-- <textarea class="textarea" name="" id="" cols="30" rows="10"></textarea> --}}
	<textarea class="textarea__input" rows="4" placeholder=" "></textarea>
	<label class="textarea__label">Label</label>
</div>