.services {
	width: 100%;
	overflow: hidden;

	&__inner {
		display: grid;
		grid-template: auto auto auto / 1fr 1fr;
		grid-template-areas:
			"heading heading"
			"accordion preview"
			"statement statement";
			grid-gap: 64px;
			padding: 64px 0 0 $padding-page-vertical-big;
	}

	&__heading, .heading {
		grid-area: heading;
		position: relative;
		color: $beige-bright;

		&__title {
			color: $beige-dark;
			text-align: left;
		}

		&__line {
			background-color: $beige-dark;
		}

	}

	&__accordion, .accordion {
		grid-area: accordion;
		z-index: 5;
		margin-left: 80px;

		&__item, .item {
			margin-bottom: 40px;
			cursor: pointer;

			&__heading {
				color: transparentize($color: $beige-medium, $amount: 0.25);
				margin-bottom: 24px;
				transition: all 0.6s ease;
				position: relative;
					
				&::before {
					content: "";
					position: absolute;	
					left: -80px;
					top: 32px;
					transform: translateY(-50%);
					width: 64px;
					height: 64px;
					display: block;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url('/media/graphics/logos/logo-lautissimi-leave-beige.svg');
					opacity: 0;
					transition: all 0.6s ease;
				}

				&::after {
					content: "\ea02";
					font-family: 'Icon';
					position: absolute;
					top: 8px;
					right: 16px;
					transition: all 0.6s ease;
					display: none;
				}

			}
		
			&__content {
				overflow: hidden;
				max-height: 0;
				opacity: 0;
				transition: opacity 0.1s ease 0s
			}

			&__text {
				padding: 0;
			}

			&__image {
				height: 320px;
				width: 100%;
				display: none;
				object-fit: cover;
				margin-bottom: 24px;
			}
			
			&--active {
				
				.item__heading {
					color: $black;
					position: relative;
					
					&::before {
						opacity: 1;
					}

					&::after {
						transform: rotate(180deg);
					}

				}

				.item__content {
					transition: opacity 0.6s ease 0.05s;
				}
				
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	&__preview, .preview {
		grid-area: preview;
		width: 100%;
		height: 640px;
		position: relative;
		overflow: hidden;
		
		&__image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 0;
			transition: all 1.5s ease;

			&--active {
				opacity: 1;
			}

		}

	}

	&__teaser {
		grid-area: statement;
		padding: 64px 96px 64px 0;
		max-width: 1100px;
	}

	@media (max-width: 950px) {

		&__inner {
			display: grid;
			grid-template: auto auto auto / 100%;
			grid-template-areas:
				"heading"
				"accordion" 
				"statement";
			grid-gap: 64px;
			padding: 120px $padding-page-vertical-medium 0 $padding-page-vertical-medium;
		}

		&__accordion, .accordion {
			margin-left: 0;
	
			&__item, .item {
				margin-bottom: 32px;
				border-bottom: 1px solid $beige-bright;

				&__heading {
					padding-right: 60px;
					hyphens: auto;
				}
	
				&__heading::after {
					display: block;
					top: 0px;
				}
	
				&__heading::before {
					display: none;
				}

				&__text {
					margin-bottom: 32px;
				}

				&__image {
					display: block;
				}

				&--active {
						max-height: unset;
						opacity: 1;
					}

				}
	
			}
	
			&__preview, .preview {
				display: none;
			}

			&__statement {
				grid-area: statement;
				padding: 24px 0 64px 0 !important;
			}

			&__teaser {
				grid-area: statement;
				padding: 64px 0;
			}

		}

	@media (max-width: 650px) {

		&__inner {
			padding: 40px $padding-page-vertical-small 0 $padding-page-vertical-small;
		}

		&__statement {
			margin-bottom: 64px;
		}

		&__accordion, .accordion {
	
			&__item, .item {

				&__image {
					height: 240px;
				}
				
			}

		}

	}

}