<div class="services section js-services">
	<div class="services__inner section__inner">
		{{> @heading class="services__heading" content="Leistungen" type="h2" showShadow=true}}
		
		<div class="services__accordion accordion">
			<div class="accordion__item item accordion__item--active" data-preview-image="1">
				{{> @heading class="item__heading" type="h3" content="Beratung"  }}
				<div class="item__content">
					{{> @paragraph class="item__text" content="Als empathische Ideengeber und gewissenhafte Berater erarbeiten wir Raumkonzepte, die Mehrwert schaffen und in denen sich Menschen rundum wohl fühlen." }}
					<img class="item__image" src="/media/images/consulting.webp" />
				</div>
			</div>
			<div class="accordion__item item" data-preview-image="2">
				{{> @heading class="item__heading" type="h3" content="Detailausarbeitung"  }}
				<div class="item__content">
					{{> @paragraph class="item__text" content="In den Bereichen der gesamten Möblierung, Beleuchtung, Textilien und Dekorationen erarbeiten wir auf Basis Ihres Gestaltungskonzepts hochwertige Produktlösungen." }}
					<img class="item__image" src="/media/images/detail-elaboration.webp" />
				</div>
			</div>
			<div class="accordion__item item" data-preview-image="3">
				{{> @heading class="item__heading" type="h3" content="Individualität"  }}
				<div class="item__content">
					{{> @paragraph class="item__text" content="Wir bieten massgeschneiderte Anfertigungen direkt ab Werk. Für jedes Projekt wird spezifisch designt und aus wertigen Materialien produziert." }}
					<img class="item__image" src="/media/images/individuality.webp" />
				</div>
			</div>
			<div class="accordion__item item" data-preview-image="4">
				{{> @heading class="item__heading" type="h3" content="Lieferung und Montage"  }}
				<div class="item__content">
					{{> @paragraph class="item__text" content="Für saubere Abwicklungen, termingerechte Lieferungen sowie effiziente Montagen setzen wir uns persönlich ein. Die Betreuung auch nach Abschluss des Projektes ist Ehrensache." }}
					<img class="item__image" src="/media/images/delivery.webp" />
				</div>
			</div>
		</div>

		<div class="services__preview preview">
			<img class="preview__image preview__image--active" data-preview-image="1" src="/media/images/consulting.webp" />
			<img class="preview__image" data-preview-image="2" src="/media/images/detail-elaboration.webp" />
			<img class="preview__image" data-preview-image="3" src="/media/images/individuality.webp" />
			<img class="preview__image" data-preview-image="4" src="/media/images/delivery.webp" />
		</div>
		
		{{> @paragraph class="services__teaser" style="big" color="beige-medium" content="LAUTISSIMI bietet ganzheitliche, individuelle Einrichtungslösungen für die Gastronomie, Hotellerie,  Büro, Gesundheitswesen sowie öffentliche Bereiche." }}

	</div>
</div>