<div class="text-input {{ class }}">
	<input class="text-input__input" type="text" placeholder=" ">
	<label class="text-input__label">{{ label }}</label>
	<p class="text-input__error-message">{{ error-text }}</p>
</div>