.text-input {
	width: 100%;
	position: relative;
	
	&__input {
		width: 100%;
		height: 48px;
		color: $white;
		padding: 8px 0;
		outline: none;
		border: none;
		border-bottom: 1px solid $transparent-white;
		padding: 0;
		background-color: transparent;
		margin-top: 40px;

		&:focus + .text-input__label,
		&:not(:placeholder-shown) + .text-input__label,
		&--active + .text-input__label {
			transform: translate(-16px, -32px);
			font-size: 12px;
		}

		&--error {
			
			& ~ .text-input__error-message {
				display: block;

				&::after {
					content: "";
					height: 8px;
					border-radius: 50%;
					width: 8px;
					background-color: $red;
					right: 16px;
					bottom: 48px;
					position: absolute;
				}

			}
			
		}

	}
	
	&__label {
		position: absolute;
		color: $transparent-white;
		bottom: calc(50% - (24px / 2));
		top: 48px;
		left: 16px;
		transition: all 0.2s ease;
		pointer-events: none;
	}

	&__error-message {
		color: $red;
		padding-top: 8px;
		display: none;
	}

}