<p class="paragraph paragraph--big paragraph--beige-medium">
	Um Ihnen und der <span class="highlight highlight--black">Individualität</span>, die sie suchen, gerecht zu werden, steht das Zuhören und achtsame Beraten bei uns an erster Stelle.
</p>